
/*inspo https://www.adrienloret.com/*/ 
*{
    box-sizing: border-box;
    padding: 10px;
}

@media (min-width:100px) {
    .galeria {
        grid-template-columns: repeat(1, 0.1fr);
    }
}

@media (min-width:520px) {
    .galeria {
        grid-template-columns: repeat(2, .1fr);
    }
}

@media (min-width:728px) {
    .galeria {
        grid-template-columns: repeat(3, .2fr);
    }
}

@media (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, .3fr);
    }
}

/*el display flex es para que un elemento quede al lado de el otro*/

figure {
    position: absolute;
}

figcaption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;


    /*el absolute es q le hace caso a cualquier elemento padre*/
}




/*esto es para hacer todo el efecto de las fotos
extraido de https://www.youtube.com/watch?v=crn9CGC-OW4&ab_channel=SINERGIA */
.contenedor {
    width: 95%;
}






.imagen:hover img {
    transition: all .3s;
    transform: scale(1.05);
    display: block;
}




.imagen:hover .contenido {
    top: 0;
}


/*aqui parte la cosas para hacer la grilla en escala 4:5*/
.imagen {
    width: 400px;
    height: 500px;
/* /*porque aqui me toma todas si estan por separado?*/

}

.imagen img {
    width: 400px;
    height: 500px;
    overflow: hidden
}

.galeria  {

    display: grid;
    grid-template-columns: repeat(4, .3fr);
    column-gap: 0px;
    row-gap: 0px;
}


/*efecto sobre imagen y sobre mouse*/
figure:hover figcaption {
    display: block;
}

/*aqui parte la parte de arriba de la pag*/

.menu li {
    display: inline;
}
.cabecera {
    box-sizing: border-box;

}

/*encabezado*/











